table {
    width: 100%;
}

.thead-dark th {
    color: white;
    text-align: center;
}

.filter-label {
    text-align: center;
}

.card {
    display: flex;
}

.btn {
    width: 110px !important;
    margin: 2px;
}